{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Hello '{{user}}' Welcome to "MODULUS" </h1>

    <div class="col-md-3">
        <ul class="list-group mt-5">
            <li class="list-group-item active" > <a class="text-decoration-none text-white" href="{% url 'change_password' %}">Change Your Password </a> </li>
            <li class="list-group-item " > <a class="text-decoration-none text-dark" href="{% url 'change_password2' %}">Change Your Password without old</a> </li>
            <li class="list-group-item " > <a class="text-decoration-none text-dark" href="{% url 'profile_update' %}">Update Your Profile</a> </li>
            <li class="list-group-item" > <a class="text-decoration-none text-dark" href="{% url 'add_musicians' %}" >Add Musicians </a> </li>
            <li class="list-group-item"><a class="text-decoration-none text-dark" href="{% url 'add_album' %}" >Add Album </a></li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
    <div class="col-md-9"></div>



{% endblock %}